span{
 color: rgb(26, 220, 245);
}

#intro {
    font-size: 5rem;
}

#heroImg {
    animation: updown 3s linear infinite;
  }
  @keyframes updown {
    0% {
      transform: translateY(-20px);
    }
    50% {
      transform: translateY(20px);
    }
    100% {
      transform: translateY(-20px);
    }
  }
  .txt-rotate > .wrap {
    border-right: 0.08em solid #666;
  }