.platform-container {
    margin-top: 0.8rem;
    
}



.platform {
    color: rgb(67, 75, 76) !important;
}

.platform:hover {
    color: rgb(26, 220, 245) !important;
    opacity: 1;
}

#cv-button {
    border: 2px solid rgb(26, 220, 245);
    border-radius: 5px;
    padding: 0.5rem 2rem;
    color: rgb(26, 220, 245);
    margin-top: 0.4rem;
    margin-right: 1.5rem;
}

#cv-button:hover {
    background-color: rgb(26, 220, 245);
    color: black;
}