@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');



.logo {
    margin-top: 10px;
    font-family: "Anta", sans-serif;
    font-weight: 200;
    color: rgb(26, 220, 245);
}

.menu-option:hover{
    margin-top: 0;
    border-top: 2px solid rgb(26, 220, 245);
    cursor: pointer;
}